/* vars */
:root {
    --primary: #41afff;
    --bg1: #f4f4f4;
    --bg2: #dddddd;
    --bg3: #bbbbbb;
    --bg4: #fefefe;
    --bg5: #ecebeb;
    --hover: #d4d4d4;
    --font-light: #616161;
    --font-dark: #333333;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--font-dark);
}
.text-center {
    text-align: center;
}
.board-container {
    width: 100%;
    background-color: var(--bg1);
    padding-top: 1rem;
}
.board {
    width: 100%;
    max-width: 768px;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-gap: 15px; */
    justify-content: space-around;
}
.list {
    background-color: var(--bg2);
    grid-column: auto;
    width: 100%;
    min-width: 200px;
    border-radius: 2px;
}
.list-title {
    background-color: var(--bg3);
    padding: 0.5rem;
    padding-left: 0.75rem;
    border-radius: 2px;
    margin: 0 auto;
}
.card {
    margin: 0.75rem auto;
    background-color: var(--bg4);
    min-height: 64px;
    width: 95%;
    transition: background-color 0.2s;
}
.card:hover {
    background-color: var(--hover);
    cursor: text;
    transition: background-color 0.2s;
}

.card-header {
    margin: 0 auto;
    background-color: var(--bg5);
    color: var(--font-light);
    font-size: .75rem;
    border-bottom: var(--bg3) 1px solid;
}
.card-body {
    padding: 0 0.5rem;
    margin: 0 auto;
}
